<div class="row m-0 p-0">
    <div class="col-10 col-md-8 offset-1 offset-md-2">
        <h1 class="text-center colour fw-bolder pt-4">Update Products</h1>
        <div>
            <input type="text" class="form-control w-25" placeholder="Enter Product Name"
                id="availableProductsSearchInputBox" #searchInput value="" (keyup)="searchProduct(searchInput.value)">
        </div>
        <div class="table-responsive m-0 p-0">
            <div class="table-responsive">
                <table class="table table-hover text-center">
                    <thead class="table-light">
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>action</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let product of products">
                        <tr>
                            <td>{{product.id}}</td>
                            <td>{{product.productName}}</td>
                            <td role="button" (click)="selectProductToUpdate(product)" data-bs-toggle="modal"
                                data-bs-target="#updateProductModal"><i class="bi bi-pencil-square"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Update Product Modal -->
<div class="modal fade" #updateProductModal id="updateProductModal" tabindex="-1"
    aria-labelledby="updateProductModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel" style="margin-left: 155px;">Update Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="rounded-4" style="background-color: white;">
                    <!-- <h2 class="text-center mt-3 mb-3">Update Product</h2> -->
                    <input type="number" class="form-control mt-2 mb-2" [value]="id" disabled #productId>
                    <input type="text" class="form-control mt-2 mb-2" [value]="name" placeholder="Enter product name"
                        #productName>
                    <input type="text" class="form-control mt-2 mb-2" [value]="brand" placeholder="Enter brand name"
                        #productBrand>
                    <textarea type="text" class="form-control mt-2 mb-2" [value]="description" placeholder="Enter brand name"
                        #productDescription></textarea>
                    <input type="number" class="form-control mt-2 mb-2" [value]="price" placeholder="Enter price"
                        #productPrice>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn text-white" style="background-color: #ffba08;"
                    (click)="updateProduct(toNumber(productId.value),productName.value,productBrand.value,toNumber(productPrice.value),productDescription.value)">Update</button>
            </div>
        </div>
    </div>
</div>